/* .container {
    border-radius: 1rem;
    display: flex;
    gap: 3rem;
    height: 15rem;
    width: 100%;
    max-width: 1800px;
    background-color: #446d7a;

    margin: 2rem auto;
    margin-top: 6rem;
    padding: 4rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.leftcolun, .centercolun, .rightcolun{
    flex: 1;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.leftcolun {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centercolun {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centercolun img {
    border-radius: 1rem;
    border: 5px solid rgb(255, 255, 255);
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.rightcolun {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightcolun h2 {
    margin-bottom: 1rem;
}

.rightcolun p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

.rightcolun button {
    color: white;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: .5rem;
    padding: .7rem;
    font-size: 1rem;
    transition: .3s;
}

.rightcolun button:hover {
    cursor: pointer;
    margin-left: 1rem;
}

h1, h2, p{
    color: white;
} */

.container {
    border-radius: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;
    width: 100%;
    max-width: 1600px;
    background-color: #446d7a;
    margin: 4rem auto;
    padding: 4rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

h1, h2, p{
    color: white;
} 

.wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
}

.leftcolun, .centercolun, .rightcolun {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centercolun img{
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.rightcolun h2{
    margin-bottom: 1rem;
}
